<%=  simple_form_for [@survey, @question] do |f| %>
  <%#= f.object %>
  <%= f.input :name %>
  <%= f.input :question_type, :collection => %w[text radio] %>
  <div id="choices">
    <%= f.simple_fields_for :choices do |f| %>
      <%= render 'questions/choice_fields', f: f %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'add choice', f, :choices %>
    </div>
  </div>
  <%= f.submit %>
<% end %>
