<div class="sidebar-main">
    <div class="user-info-sidebar">
      <h3 style="color:#C9C9C9; font-size:80px;padding-top: 10px;">
        <% if !current_user.first_name.blank? %>
          <%= current_user.first_name.chars.first %>
        <% else %>
          <%=  current_user.nickname.chars.first.capitalize%>
        <% end %>
      </h3>
    </div>
    <div class="create-survey-div">
      <button type="button" class="create-survey-button"
      data-toggle="modal" data-target="#exampleModalCenter">
    NEW CRITIQ </button>
    </div>
    <div class="menu-buttons-content">
      <!-- quick fix: if on inbox will display as active; otherwise not -->
      <% if current_page?(surveys_path) %>
        <div class="menu-button-div"><i class="fas fa-chart-line current"></i><%= link_to "Dashboard", surveys_path, class:"sidebar-menu-item current" %></div>
      <% else %>
        <div class="menu-button-div"><i class="fas fa-chart-line"></i><%= link_to "Dashboard", surveys_path, class:"sidebar-menu-item" %></div>
      <% end %>
      <div class="menu-button-div"><i class="fas fa-users"></i><%= link_to "Groups", surveys_path, class:"sidebar-menu-item" %></div>
      <div class="menu-button-div"><i class="fas fa-bullseye"></i><%= link_to "Goals", surveys_path, class:"sidebar-menu-item" %></div>
      <div class="menu-button-div"><i class="far fa-user"></i><%= link_to "Profile", surveys_path, class:"sidebar-menu-item" %></div>
      <div class="menu-button-div"><i class="fas fa-sign-out-alt" id="logout-button"></i><%= link_to "Logout", destroy_user_session_path, method: :delete, class:"sidebar-menu-item" %></div> 
    </div>
    <div class="sidebar-footer">
      <p>CRITIQ v1.9.2</p>
    </div>
  </div>
