<%= render 'shared/navbar' %>
<!-- <h1>Pages#home</h1> -->

<!-- <h1>Signed in as: <%#= current_user.nickname.capitalize if user_signed_in? && !current_user.nickname.nil? %></h1> -->
<div class="full-screen-banner">
  <div class="container mt-4">
    <div class="d-flex justify-content-between banner">
      <!-- value prop -->
      <div class="banner-text">
        <h1>Unconstrained</h1>
        <h1>Anonymous</h1>
        <h1>Feedback</h1>
        <%= link_to "Get CRITIQ", surveys_path, class:"cta" %>
      </div>
      <!-- img -->
      <div class="banner-img">
        <%= image_tag "slack.svg", alt: "alttext" %>
      </div>
    </div>

    <!-- partner companies -->
    <div class="company-list">
      <!-- LeWagon -->
        <div class="company">
        <img class="company-img" alt="company-avatar" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png"/>
        <span class="place-left">Le Wagon</span>
      </div>

      <!-- Reko -->
        <div class="company">
        <%= image_tag "reko.svg", alt: "company-avatar", class:"company-img reko" %>
      </div>
    </div>
  </div>
</div>


<div class="card-wrapper" id="feature-cards">
<!-- feature cards -->
  <div class="cards">

    <div class="card">
      <div class="image-padding-first">
        <%= image_tag "survey.svg", alt: "survey", class:"card-img" %>
      </div>
      <div class="card-text">
        <h4>Get Honest Data</h4>
        <p>Create easy and beautiful surveys for your peers directly in your online dashboard.</p>
      </div>
    </div>

    <div class="card">
      <div class="image-padding">
        <%= image_tag "bot.svg", alt: "survey", class:"card-img" %>
      </div>
      <div class="card-text">
        <h4>Talk to Tinker</h4>
        <p>Our slackbot, Tinker, sends automated messages to collect anonymous feedback.</p>
      </div>
    </div>

    <div class="card">
      <div class="image-padding">
        <%= image_tag "analytics.svg", alt: "survey", class:"card-img" %>
      </div>
      <!-- GET RID OF MARGIN AFTER FIRST PITCH -->
      <div class="card-text place-top">
        <h4>Utilize the Results</h4>
        <p>Effectively analyze your areas of improvement to quickly get insights.</p>
      </div>
    </div>

  </div>
</div>
<!-- END feature card -->

<!-- How to -->
<div class="howto-wrapper" id="howto">
  <div class="container">
    <div class="description">
      <!-- left: img -->
      <div class="howto-img">
        <%= image_tag "signslack.svg", alt: "alttext" %>
      </div>
      <!-- right: text -->
      <div class="howto-text">
        <h3>Sign in with your Slack account</h3>
        <p>Seemless integration with your workspace. Login through Slack, create a survey suited to your needs, and send it out within minutes.</p>
      </div>
    </div>

    <div class="description">
      <!-- left: text -->
      <div class="howto-text">
        <h3>Your colleagues respond directly in Slack</h3>
          <p>The survey is answered by your peers directly through private messages to the bot - Tinker. No hassle to install just another application.</p>
      </div>
      <!-- right: img -->
      <div class="howto-text">
        <div class="howto-img">
          <%= image_tag "chat.svg", alt: "alttext" %>
        </div>
      </div>
    </div>

    <div class="description">
      <!-- left: img -->
      <div class="howto-img">
        <%= image_tag "dashboard.svg", alt: "alttext" %>
      </div>
      <!-- right: text -->
      <div class="howto-text">
        <h3>Review the feedback you collected</h3>
        <p>As soon as enough people have answered, the anonymized results will be instantly displayed in your dashboard.</p>
      </div>
    </div>
  </div>
</div>

<!-- footer -->
<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/CKolkey/critiq" target="_blank"><i class="fab fa-github"></i></a>    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    CRITIQ is made with <i class="fas fa-heart"></i> for people who value honest feedback.
  </div>
</div>
