<!-- Simple form for creating a new survey -->

<div class="wrapper-modal-survey">
  <div class="survey-modal-content">
    <%= simple_form_for survey do |f| %>
      <%= f.input :title,
                  label: "Critiq Title",
                  placeholder: "" %>
      <%= f.input :description,
                  placeholder: "Describe your project or presentation." %>
      <%= f.button :submit, class:"btn btn-primary w-100" %>
    <% end %>
  </div>
  <div class="survey-modal-picture">
    <%= image_tag("bot.svg")%>
  </div>
</div>
