<!-- rendered form for creating questions -->

<div class="nested-fields">
  <div class="choice-type-and-question">
    <%= f.input :question_type,
          collection: [['text', 'Open-Text'], ['radio', 'Multiple Choice']],
          # selected: 1,
          label_method: :second,
          value_method: :first,
          label: "Type",
          wrapper_html: {class: 'question-input-text choice-counter'} %>
    <%= f.input :name,
          wrapper_html: { class: 'question-input-text' },
          label: "Question" %>

  <%= link_to_remove_association '<i class="fas fa-minus-circle"></i>'.html_safe, f,  class:"question-icon clickme" %>
  </div>
  <!-- nested form for creating choices -->
</div>
<div id="choices" class="create-form-choices">
  <div class="links mc-form-create-link mc-hidden">
    <%= link_to_add_association 'add choices', f, :choices, class:"btn btn-light" %>
  </div>
  <%= f.simple_fields_for :choices do |f| %>
  <%= render 'choice_fields', f: f %>
  <% end %>
</div>
