<div class="surv-card card surv-id-<%= survey.id %>">
  <div class="card-body">
    <div class="row align-items-center">
      <div class="col-auto surv-date-box">
        <p class="card-text small text-muted mb-1">
          <%= survey.created_at.strftime(" %e %b ") %>
        </p>
        <!-- Adds some padding to the right. When you want to add an icon, do it inside this div -->
        <% if survey.published == false %>
          <p style="margin-bottom: 0 !important;"><i class="fas fa-exclamation-triangle" data-toggle="tooltip" data-html="true" title="Survey has not been sent out"id="warning-icon"></i></p>
        <% else %>
           <p style="margin-bottom: 0 !important; visibility: hidden;"><i class="fas fa-exclamation-triangle"></i></p>
        <% end %>
      </div>
      <div class="col ml-n2">

        <h4 class="card-title mb-1 name">
          <%= survey.title %>
        </h4>

        <p class="card-text small text-muted mb-1">
          <% if survey.description.size > 180 %>
            <%= survey.description.first(180).insert(-1, "...") %>
          <% else %>
            <%= survey.description %>
          <% end %>
        </p>

        <div class="row align-items-center no-gutters">
          <!-- <div class="col-auto">

            <div class="small mr-2">Responses: </div>

          </div> -->
          <div class="col pt-3">

              <% unless survey.questions.empty?  %>
                <% total_respondees = survey.questions.first.sent_questions.count %>
                <% respondees_finished = survey.questions.last.responses.count %>
                <% percent_bar = ((respondees_finished.to_f / total_respondees) * 100).to_i unless total_respondees.zero? %>
              <% end %>


            <div class="progress progress-sm" data-toggle="tooltip" data-placement="bottom" title="<%= percent_bar %>% Responded">
              <div class="progress-bar" role="progressbar"
              style="width: <%= percent_bar %>%"
              aria-valuenow="<%= respondees_finished %>"
              aria-valuemin="0"
              aria-valuemax="<%= total_respondees %>"></div>
            </div>

          </div>
        </div>

      </div>
      <div class="col-auto">

        <div class="dropdown">
          <a href="#!" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fe fe-more-vertical"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <%= link_to survey_path(survey), class: "dropdown-item", method: :delete do %>
             <i class="far fa-trash-alt"></i><span class="pl-4">Delete</span>
            <% end %>
            <% unless survey.published == true %>
              <%= link_to edit_survey_path(survey), class: "dropdown-item" do  %>
              <i class="fas fa-edit"></i><span class="pl-4">Edit</span>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= content_for :after_js do %>
  <script type="text/javascript">
    $('.surv-id-<%= survey.id %>').click( function(event) {
        const clickSurvId<%= survey.id %> = () => {
          document.querySelectorAll('.surv-card').forEach(function(element) { element.classList.remove('surv-card-active') });
          document.querySelector('.surv-id-<%= survey.id %>').classList.add("surv-card-active");

          // AJAX Loader:
          Rails.ajax({
            url: "/surveys/<%= survey.id %>",
            type: "get",
            data: "ajax=1",
            success: function(data) {
              Rails.$('.right-page')[0].innerHTML = data.html
              // SCRIPT TAG not evaluated on innerHTML injection
              // eval() does that below
              document.querySelectorAll('.exec-chart-js').forEach(function(element) {
                eval(element.firstElementChild.innerHTML)
              })

            },
            error: function(data) {
              alert("Failed to Load Critiq id: <%= survey.id %> :(")
            }
          })
        };

        clickSurvId<%= survey.id %>();
    });
    // $('#warning-icon').tooltip()
  </script>
<% end %>
