<%= render partial: "shared/sidebar" %>
<div class="main-content">

  <!-- This partial containes stuff that was in the template but I have no -->
  <!-- idea what its for, so it's commented out -->
  <%#= render partial: "shared/dashkit_top_navbar" %>

  <!-- HEADER -->
  <div class="header no-b-margin">
    <div class="container-fluid">

      <!-- Body -->
      <div class="header-body">
        <div class="row align-items-end">
          <div class="col-8">

            <!-- Pretitle -->
            <h6 class="header-pretitle">
              CRITIQ
            </h6>

            <!-- Title -->
            <h1 class="header-title">
              Create
            </h1>

          </div>
          <div class="col-4">

            <!-- Button -->


          </div>
        </div>
        <!-- / .row -->
      </div>
      <!-- / .header-body -->

    </div>
  </div>
  <!-- / .header -->

  <!-- LEFT and RIGHT panes -->
  <div class="container-fluid d-flex overflow-a" style="max-width:900px;">
    <div class="all-questions">
      <div class="title_and_description mb-3">
        <div class="header-section-survey">
          <div class="header-title-survey">
            <h1 style="margin-top:20px;"><%= @survey.title %></h1>
            <p style="margin-top:20px;"><%= @survey.created_at.strftime("%e %B %Y")%></p>
          </div>
        </div>
        <div class="description-and-button">
          <h3 style="color: grey;"><%= @survey.description %></h3>
          <p class=" btn btn-light display-header-button">Edit Title</p>
        </div>
      </div>
      <%= simple_form_for @survey do |f| %>
      <div class="wrapper-titel-survey-header">
          <div class="wrapper-title-survey">
            <%= f.input :title,
                        wrapper_html: { class: 'title-input-text' }%>
            <%= f.input :description,
                        wrapper_html: { class: 'description-input-text' } %>
        </div>
        <div class="slack-channels">
          <div class="w-50">
            <h4 style="padding-top:10px;">Get Critiq from your colleagues in:</h4>
          </div>
          <div class="w-50">

            <%= f.collection_select :channel_id,
                  @slackchannels,
                  ->(item) { item[:id] },
                  ->(item) { item[:name].capitalize }
                  %>

          </div>
          <p>The survey will be sent out to <strong>each member</strong> of the group <strong>individually</strong>.</p>
        </div>
        </div>
        <!-- nested form for creating questions -->
        <div id="questions">
          <%= f.simple_fields_for :questions do |f| %>
            <%= render 'question_fields', f: f %>
          <% end %>

            <div class="links">
              <%#= link_to_add_association 'add question', f, :questions, class:"btn btn-primary" %>
               <%= link_to_add_association '<i class="fas fa-plus-circle"></i>'.html_safe, f, :questions, class:"question-icon" %>
            </div>
            <div class="send-save-buttons text-right" style="margin-bottom: 70px;">
              <%= f.submit "Save", class:"btn btn-primary create-survey-button-edit" %>
              <%= f.submit "Send", class:"btn btn-primary create-survey-button-edit" %>

              <%#= link_to 'Save and SendCritiq', send_path(@survey), method: :patch, class:"btn btn-white create-survey-button-edit"%>
            </div>
        </div>
        <%= f.input :published, :as => :hidden, :input_html => { :value => "true" } %>
        <!-- footer commented out: blocks create new quesion button after 3 questions -->
        <!-- <div class="form-create-footer text-right px-5"></div> -->
      <% end %>
    </div>



  </div>
</div>

<!-- END  -->
<%= content_for :after_js do %>
  <script>
    const clickPlus = () => {
      document.querySelector('.question-icon').click()
    };

    const newFunction = () => {
      const buttonSave = document.querySelectorAll('.create-survey-button-edit')[0];
      const buttonSend = document.querySelectorAll('.create-survey-button-edit')[1];
      const inputField = document.querySelectorAll('input[id*=survey_questions]')[0];

      inputField.addEventListener('keyup', (event) => {
        if (inputField.value.length > 0) {
          buttonSave.disabled = false;
          buttonSend.disabled = false;
        } else {
          buttonSave.disabled = true;
          buttonSend.disabled = true;
        }
      });
    };

    $( document ).ready(function(){
      clickPlus();
      newFunction();

    })
    // code to enable edit field for header section (title & description)
    const buttonEdit = document.querySelector(".display-header-button");
    const formEdit = document.querySelector(".wrapper-title-survey");
    const staticTitle = document.querySelector(".title_and_description")

    buttonEdit.addEventListener('click', (event) => {
      staticTitle.classList.toggle("invisible");
      formEdit.style.display = "inherit";
  });
    // function to disable the buttons
    const disableButton = () => {

            const inputField = document.querySelectorAll('input[id*=survey_questions]')[0].value;

            if (inputField.length == 0) {
                document.querySelectorAll('.create-survey-button-edit')[0].disabled = true;
                document.querySelectorAll('.create-survey-button-edit')[1].disabled = true;
            }
        };

    // disable buttons on load of page
    window.onload = function() {
      disableButton();
    };

  </script>
<% end %>
