<%= render partial: "shared/sidebar" %>
<div class="main-content">

  <!-- This partial containes stuff that was in the template but I have no -->
  <!-- idea what its for, so it's commented out -->
  <%#= render partial: "shared/dashkit_top_navbar" %>

  <!-- HEADER -->
  <div class="header no-b-margin">
    <div class="container-fluid">

      <!-- Body -->
      <div class="header-body">
        <div class="row align-items-end">
          <div class="col-8">

            <!-- Pretitle -->
            <h6 class="header-pretitle">
              CRITIQ
            </h6>

            <!-- Title -->
            <h1 class="header-title">
              Dashboard
            </h1>

          </div>
          <div class="col-4">

            <!-- Button -->
            <%= form_tag surveys_path, method: :get do %>
              <%= text_field_tag :query, params[:query], class: "form-control form-control-rounded",
              placeholder: "Find Critiq"%>
            <% end %>

          </div>
        </div>
        <!-- / .row -->
      </div>
      <!-- / .header-body -->

    </div>
  </div>
  <!-- / .header -->

  <!-- LEFT and RIGHT panes -->
  <div class="container-fluid d-flex overflow-a">
    <div class="left-page no-scrollbar">
         <% unless @surveys.empty? %>
           <% @surveys.each do |survey| %>
             <%= render partial: "survey_card", locals: {survey: survey} %>
          <% end %>
        <% else %>
          <h3> Ask your coleagues for a Critiq! </h3>
        <% end %>
      <%= render partial: "modal_create_survey" %>
    </div>
    <div class="right-page no-scrollbar">
      <%= render partial: "question_responses", locals: {all_questions: @questions} %>
    </div>
  </div>
</div>
