<div class="full-page">
  <div class="sidebar-main">
    <div class="user-info-sidebar">
      <h3 style="color:#C9C9C9; font-size:80px;padding-top: 10px;">
        <% if !current_user.first_name.blank? %>
          <%= current_user.first_name.chars.first %>
        <% else %>
          <%=  current_user.nickname.chars.first.capitalize%>
        <% end %>
      </h3>
    </div>
    <div class="create-survey-div">
      <button type="button" class="create-survey-button"
      data-toggle="modal" data-target="#exampleModalCenter">
    NEW CRITIQ </button>
    </div>
    <div class="menu-buttons-content">
      <div class="menu-button-div"><i class="fas fa-chart-line current"></i><%= link_to "Inbox", surveys_path, class:"sidebar-menu-item current" %></div>
      <div class="menu-button-div"><i class="fas fa-users"></i><%= link_to "Groups", surveys_path, class:"sidebar-menu-item" %></div>
      <div class="menu-button-div"><i class="fas fa-bullseye"></i><%= link_to "Goals", surveys_path, class:"sidebar-menu-item" %></div>
      <div class="menu-button-div"><i class="far fa-user"></i><%= link_to "Profile", surveys_path, class:"sidebar-menu-item" %></div>
    </div>
    <div class="menu-button-div"><i class="fas fa-sign-out-alt" id="logout-button"></i><%= link_to "Logout", destroy_user_session_path, method: :delete, class:"sidebar-menu-item" %></div>
    <div class="sidebar-footer">
      <p>CRITIQ v1.9.2</p>
    </div>
  </div>
  <div class="survey-list">
    <div class="index-title-section">
      <h1 style="padding-left: 18px;">Dashboard</h1>
    </div>
    <div class="survey-wrapper">
      <div class="left-page">
        <div class="search-bar-index">
          <%= form_tag surveys_path, method: :get do %>
          <%= text_field_tag :query,
          params[:query],
          class: "form-control",
            placeholder: "find critiq"
            %>
            <% end %>
        </div>
        <div class="all-surveys">
        <!-- Display all surveys of the current user if surveys
         have been created -->
           <% if @surveys.count != 0 %>
           <% @surveys.reverse.each do |survey| %>
           <div class="survey-card-index-wrapper">
            <div class="survey-card-index-content">
              <!-- title of survey -->
              <div class="survey-card-index-info">
                <h3><%= link_to survey.title, survey_path(survey)  %></h3>
                <!-- description of survey -->
                <% if survey.description.size > 130 %>
                  <p> <%= survey.description.first(130).insert(-1, "...") %> </p>
                <% else %>
                  <p> <%= survey.description %> </p>
                <% end %>
                <!-- status of survey; sent out? -->
              </div>
              <div class="survey-card-index-secondary">
                <p> <%= survey.created_at.strftime(" %e %b ") %></p>
                <% if survey.published %>
                  <p><i class="fas fa-check"></i></p>
                <% else %>
                  <p><i class="fas fa-times"></i></p>
                <% end %>
                <!-- date of survey -->
                <!-- % of responses as colored status bar (see Figma for) -->
                <!-- delete survey from index -->
                <div class="delete-index">
                  <%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, survey_path(survey), method: :delete%>
                </div>
              </div>
            </div>
          </div>
          <% end %>
          <% else %>
          <h3> No surveys created so far </h3>
          <% end %>
        </div>
        <%= render partial: "modal_create_survey" %>
      </div>
      <div class="right-page">
        <div class="bot-on-index">
          <%= image_tag("robot.png")%>
          <p style="color: grey;">no critiq selected</p>
        </div>
      </div>
    </div>
  </div>
</div>
