<div class="container">
  <div class="top-box">
    <h1><%= @survey.title %></h1>
    <p><%= @survey.description %></p>
    <p> // display recipients here when controller is set up</p>
    <!-- status of survey -->
    <% if @survey.published %>
      <p>status: published </p>
    <% else %>
      <p>status: pending</p>
    <% end %>
    <!-- when status pending: link to edit -->
    <%# unless @survey.published == true %>
      <%#= link_to "edit survey", edit_survey_path(@survey)  %>
    <%# end %>

    <% @survey.questions.each do |question|%>
      <p><%= question.name %></p>
      <% question.choices.each do |choice| %>
      <ul>
        <li><em><%= choice.name %></em></li>
      </ul>
      <% end %>
    <% end %>
    <br>
    <br>
    <%= link_to "Back", surveys_path, class:"btn btn-primary"  %>
  </div>
  <div>&nbsp;</div>


  <div class="bottom-box">
      <% @questions.each_with_index do |question, q_index| %>
        <p><%= q_index + 1 %>. <%= question[:name] %></p>
        <ul>
          <% if question[:question_type] == "text" %>

            <% if !question[:responses].nil? && question[:responses].empty? %>
              <li>Not Enough Responses Yet</li>
            <% else %>
              <% question.responses.each do |response| %>
                <li><%= response.content %></li>
              <% end %>
            <% end %>

          <% else %>

            <% if !question[:responses].nil? && question[:responses].empty? %>
              <% question[:choices].each do |choice| %>
                <li><%= choice.name %></li>
              <% end %>

            <% else %>

              <% question.choices.each_with_index do |choice, c_index| %>
                <li><%= choice.name %></li>
                <%= " * " * question.responses.select { |x| x.content.to_i == (c_index + 1) }.count %>
              <% end %>

            <% end %>
          <% end %>
        </ul>
      <% end %>
  </div>
</div>
